@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/LayoutCSS/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link rel="shortcut icon" href="#">*@
    @*<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />*@
    @RenderSection("Styles", required: false)
    <link href="~/css/LayoutCSS/Layout.css" rel="stylesheet" />
    <style>
        
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="column side">
        <div class="logo-container">
            <a class="nav-link" id="goldcap-logo" asp-controller="home" asp-action="index">GoldCap</a>
        </div>
        <div>
            <ul class="navUl">
                <li>
                    <a asp-controller="dashboard" asp-action="index">Dashboard</a>
                </li>
                <li>
                    <a asp-controller="expenses" asp-action="index">Expenses</a>
                </li>
                <li>
                    <a asp-controller="categories" asp-action="index">Categories</a>
                </li>
                <li style="border-bottom-style:solid;border-width:thin;border-color:white">
                    <a asp-controller="about" asp-action="index">About</a>
                </li>
            </ul>
        </div>
    </div>




    <div class="column main">
        <nav class="navbar navbar-expand-lg navbar-dark py-2" style="background-color: #2d3339;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbarToggler" aria-controls="topNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="topNavbarToggler">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    @if (Context.Request.Path == "/")
                    {
                        <div id="bellDropdown" class="dropdown">
                            <a class="dropdown-toggle dropdownBell" role="button" id="dropdownBell" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                <i class="far fa-bell bellIcon"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm-end dropdown-menu-dark" aria-labelledby="dropdownBell">
                                <li>
                                    <div class="notificationElement" onclick="showInPopup('@Url.Action("CreateOrEdit", "Dashboard", new { id = 0, preStatus = 0 }, Context.Request.Scheme)','New recurring')">
                                        <a>Add daily payments to make your life easier</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notificationElement" onclick="showInPopup('@Url.Action("CreateOrEdit", "Dashboard", new { id = 0, preStatus = 2 }, Context.Request.Scheme)','New recurring')">
                                        <a>Add monthly payments to make your life easier</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notificationElement" onclick="showInPopup('@Url.Action("CreateOrEdit", "Dashboard", new { id = 0, preStatus = 4 }, Context.Request.Scheme)','New recurring')">
                                        <a>Add your custom recurring payment</a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    }
                    <div id="avatarDropdown" class="dropdown bg-dark">
                        <a class="btn btn-secondary dropdown-toggle dropdownAvatar" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">

                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm-end dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li style="margin-top:50px;padding-left:16px"><small>@User.Identity.Name</small></li>
                                <li id="logoutButton" class="dropdown-item">
                                    <div>
                                        <form method="post" asp-action="logout" asp-controller="account">
                                            <button class="text-danger logoutButton" type="submit">
                                                Logout
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
        @RenderBody()
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" id="modalDialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center w-100"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>



    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script> ADDED 09.08*@
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/jss/site.js" asp-append-version="true"></script>
    <script src="~/jss/notify.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>
</html>

