@model IEnumerable<Expense>


<style>
    

</style>
<link href="~/css/DashboardCSS/_ViewAll.css" rel="stylesheet" />
<input hidden id="idForSort" value="" />
<table class="table table-hover">
    <thead class="sticky-top">
        <tr>
            <th>
                <a style="cursor:pointer;" onclick="RequestSort('@Url.Action("Sort", "Dashboard", new { sortOrder = (ViewBag.AmountSortParm == null ? "Amount" : ViewBag.AmountSortParm)}, Context.Request.Scheme)','Sort')">Amount</a>
            </th>
            <th class="categoryTh">
                <a style="cursor:pointer;" onclick="RequestSort('@Url.Action("Sort","Dashboard",new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)},Context.Request.Scheme)','Sort')">Category</a>
            </th>
            <th class="descriptionTh">
                Description
            </th>
            <th>
                <a style="cursor:pointer;" onclick="RequestSort('@Url.Action("Sort","Dashboard",new { sortOrder = (ViewBag.DateSortParm == null ? "Date" : ViewBag.DateSortParm)},Context.Request.Scheme)','Sort')">Date</a>
            </th>
            <th class="refresh_button">
                <a style="cursor:pointer;" onclick="RequestSort('@Url.Action("Sort", "Dashboard", new { sortOrder = "default", id = -1}, Context.Request.Scheme)','Sort', true)">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td class="categoryTd">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="descriptionTd">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="button_column">
                    <a id="detailsButton" onclick="showInPopup('@Url.Action("Details","Dashboard",new { id = item.Id},Context.Request.Scheme)','Details')"
                       class="btn btn-outline-info btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


