@model IEnumerable<Expense>


@section Styles {


}
<style>
    /*#region old */

    input[type="submit"] {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    a.refreshIcon {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    i.fa-plus-square:hover {
        background-color: gray;
    }

    .modal-backdrop {
        z-index: -1;
        display: none;
    }

    /*#endregion */

    .descriptionTd {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
    }

    table {
        width: 100%;
        max-height: 350px;
    }

    .fixed_table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

        .fixed_table tbody {
            background-color: #2d3339;
            display: block;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 350px;
        }

        .fixed_table thead tr {
            display: block;
        }

        .fixed_table thead {
            background-color: #212529;
            color: white;
        }

        .fixed_table th, .fixed_table td {
            padding: 5px;
            text-align: left;
            width: 160px;
        }

            .fixed_table th.button_column, .fixed_table td.button_column {
                text-align: right;
                padding-right: 20px;
            }

    .table {
        background-color: #2d3339;
        color: #9ba6b0;
    }
</style>
<input hidden id="idForSort" value="" />
<table class="fixed_table table table-hover">
    <thead>
        <tr>
            <th id="th1">
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort", "Dashboard", new { sortOrder = (ViewBag.AmountSortParm == null ? "Amount" : ViewBag.AmountSortParm)}, Context.Request.Scheme)','Sort')">Amount</a>
            </th>
            <th>
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort","Dashboard",new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)},Context.Request.Scheme)','Sort')">Category</a>
            </th>
            <th>
                Description
            </th>
            <th>
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort","Dashboard",new { sortOrder = (ViewBag.DateSortParm == null ? "Date" : ViewBag.DateSortParm)},Context.Request.Scheme)','Sort')">Date</a>
            </th>
            <th class="button_column">
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort", "Dashboard", new { sortOrder = "default", id = -1}, Context.Request.Scheme)','Sort', true)">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="expensesTr">
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="descriptionTd">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="button_column">
                    <a onclick="showInPopup('@Url.Action("Details","Dashboard",new { id = item.Id},Context.Request.Scheme)','Details')"
                       class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button onclick="myFunct()">TEST</button>
<script type="text/javascript">
    function myFunct() {
        var bodyTr = document.getElementsByClassName('expensesTr');
        var wid1 = bodyTr[0].cells[0];
        var wid2 = bodyTr[1].cells[1];
        console.log(wid1.style.width);
        console.log(wid1.clientWidth);

        var th1 = document.getElementById('th1');
        console.log(th1.offsetWidth);
        console.log(th1.clientWidth);
        th1.style.width = wid1.clientWidth + 'px';
    }
</script>
