@model IEnumerable<Expense>


@section Styles {
    <link href="~/css/List.css" rel="stylesheet" />
   
}
<style>
    input[type="submit"] {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    a.refreshIcon {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    i.fa-plus-square:hover {
        background-color: gray;
    }

    .modal-backdrop {
        z-index: -1;
        display: none;
    }
    .table td.description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 15ch;
    }

</style>
<input hidden id="idForSort" value="" />
<table class="table table-hover">
    <thead class="sticky-top">
        <tr class="align-text-top">
            <th>
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort", "Dashboard", new { sortOrder = (ViewBag.AmountSortParm == null ? "Amount" : ViewBag.AmountSortParm)}, Context.Request.Scheme)','Sort')">Amount</a>
            </th>
            <th>
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort","Dashboard",new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)},Context.Request.Scheme)','Sort')">Category</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="padding-left:20px;">
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort","Dashboard",new { sortOrder = (ViewBag.DateSortParm == null ? "Date" : ViewBag.DateSortParm)},Context.Request.Scheme)','Sort')">Date</a>
            </th>
            <th style="text-align:center;">
                <a style="cursor:pointer;" onclick="JqueryAjaxSort('@Url.Action("Sort", "Dashboard", new { sortOrder = "default", id = -1}, Context.Request.Scheme)','Sort')">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="width:220px;padding-left:20px;">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td align="right">
                    <a onclick="showInPopup('@Url.Action("Details","Dashboard",new { id = item.Id},Context.Request.Scheme)','Details')"
                       class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>



