@model IEnumerable<Expense>


@section Styles {
    <link href="~/css/List.css" rel="stylesheet" />
}
<style>
    input[type="submit"] {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    i.fa-plus-square:hover {
        background-color: gray;
    }
    .modal-backdrop {
        z-index: -1;
    }
</style>
<table class="table table-hover">
    <thead class="sticky-top">
        <tr class="align-text-top">
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="padding-left:20px;">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th style="text-align:right; padding-right:30px;">
                    <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = 0},Context.Request.Scheme)','New expense')"
                       class="btn btn-sm" style="padding:0;">
                        <i class="far fa-plus-square fa-lg" style="font-size: 25px;padding-top:5px;"></i>
                    </a>

                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="width:220px;padding-left:20px;">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td align="right" style="padding-right:30px;width:220px;">
                        <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = item.Id},Context.Request.Scheme)','Update expense')"
                           class="btn btn-primary btn-sm" style="width:31.13px;height:32px;">
                            <i class="far fa-edit" style="font-size:15px;color:white;"></i>
                        </a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="submit" value="&#xf1f8" style="font-size:15px;color:white;" class="btn btn-danger btn-sm"/>
                        </form>
                    </td>*@
            <td align="right">
                <a onclick="showInPopup('@Url.Action("Details","Dashboard",new { id = item.Id},Context.Request.Scheme)','Details')"
                   class="btn btn-primary btn-sm">Details</a>
            </td>
            </tr>
        }
    </tbody>
</table>



