@model IEnumerable<Income>
@{
    ViewData["Title"] = "Incomes";
    Layout = null;
}

@section Styles {
    <link href="~/css/LayoutCSS/List.css" rel="stylesheet" />
}
<style>
    .modal-backdrop {
        display: none;
    }

    .modal-title {
        font-weight: bold;
    }

    .btn-close {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .modal-body, .modal-header, .modal-title, .modal-footer {
        /*font-family: Arial;*/
        background-color: var(--bg-primary);
        color: var(--text-secondary);
    }

    .modal-content, modal-dialog {
        border: 3px solid var(--text-primary);
        border-radius: 5px;
    }

    .modal-header {
        border: none;
        border-bottom: 3px solid var(--text-primary);
        border-radius: 0;
    }

    .modal-body {
        padding: 0.625rem 0 0.625rem 0;
        min-height: calc(0.3*);
    }
    td.description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 15ch;
    }

</style>
<script type="text/javascript">
    if (document.getElementById("tableInModalIncome")) {
        document.getElementById("modalDialog").classList.remove("modal-lg");
    }
</script>
<div class="table-responsive tableContainer" id="tableInModalIncome">
    <table class="table table-hover">
        <thead class="sticky-top">
            <tr class="align-text-top">
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th style="padding-left:20px;">
                    Next paycheck
                </th>
                <th style="text-align:right; padding-right:30px;">
                    <a onclick="showInPopup('@Url.Action("CreateOrEditIncome","Dashboard",new { id = 0},Context.Request.Scheme)','New income')" class="btn btn-success btn-sm">New expense</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="description" data-toggle="tooltip" data-placement="bottom" title="@item.Description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="width:220px;padding-left:20px;">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td align="right" style="padding-right:30px;width:220px;">
                        <form asp-controller="dashboard" asp-action="DeleteIncome" asp-route-id="@item.Id" onsubmit="return AjaxDeleteIncome(this)" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
</script>
@*<script>$.ajaxPrefilter(function (options, originalOptions, jqXHR) { options.async = true; });</script>*@