@model IEnumerable<Expense>

<style>
    body {
        font-family: Arial;
        background-color: #212529;
        color: #9ba6b0;
    }
    /*#region old */

    /*#region StatCircles */

    div .u-statCircle, div .c-statCircle {
        animation: circleShow 0.6s linear;
    }

    @@keyframes circleShow {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #adviceDiv p {
        border-top: 2px solid black;
        margin: 10px 8px 0 8px;
        padding-top: 10px;
        font-weight: 600;
    }

        #adviceDiv p a {
            text-decoration: none;
            color: #0D6EFD;
            cursor: pointer;
        }

            #adviceDiv p a:hover {
                color: #012965;
            }

    .circle .u-right {
        z-index: 3;
        transform: rotate(
@ViewBag.PercentageStringStartRightU );
    }
    @@keyframes u-left {
        100% {
            transform: rotate(@ViewBag.PercentageStringLeftU);
        }
    }
    @@keyframes u-right {
        100% {
            transform: rotate(@ViewBag.PercentageStringRightU);
        }
    }

    .circle .c-right {
        z-index: 3;
        transform: rotate(@ViewBag.PercentageStringStartRightC);
    }
    @@keyframes c-left {
        100% {
            transform: rotate(@ViewBag.PercentageStringLeftC);
        }
    }
    @@keyframes c-right {
        100% {
            transform: rotate(@ViewBag.PercentageStringRightC);
        }
    }

    .circle .p-right {
        z-index: 3;
        transform: rotate(@ViewBag.PercentageStringStartRightC);
    }
    @@keyframes p-left {
        100% {
            transform: rotate(@ViewBag.PercentageStringLeftC);
        }
    }
    @@keyframes p-right {
        100% {
            transform: rotate(@ViewBag.PercentageStringRightC);
        }
    }

   /*TEST*/
    .circle .c-left .progress {
        z-index: 4;
        animation: c-left @ViewBag.LeftSpeedC linear both;
    }


    .circle .c-right .progress {
        animation: c-right @ViewBag.RightSpeedC linear both;
        animation-delay: @ViewBag.LeftSpeedC;
    }

    .circle .u-left .progress {
        z-index: 4;
        animation: u-left @ViewBag.LeftSpeedU   linear both;
    }


    .circle .u-right .progress {
        animation: u-right @ViewBag.RightSpeedU linear both;
        animation-delay: @ViewBag.LeftSpeedU;
    }

    .circle .p-left .progress {
        z-index: 4;
        animation: u-left @ViewBag.LeftSpeedU   linear both;
    }


    .circle .p-right .progress {
        animation: u-right @ViewBag.RightSpeedU linear both;
        animation-delay: @ViewBag.LeftSpeedU;
    }


/*#endregion */

/*#endregion */

    /*#region Pills row */

    .statPill {
        background-color: #2d3339;
        color: #9ba6b0;
        border: 3px solid #434d56;
        border-radius: 5px;
        margin-right: 15px;
        max-height: auto;
    }

        .statPill span {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }

        .statPill .pill-left {
            text-align: center;
            align-content: center;
        }

        .statPill .pill-right p {
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
        }

    /*#endregion */

    /*#region AreaChart row */
    .areaChartDiv {
        width: 100%;
        border: 3px solid #434d56;
        border-radius: 5px;
        padding: 0;
    }
    .areaChartCol {
        padding: 0;
    }
    .pieChartDiv {
        width: 100%;
    }
    /*#endregion */

    /*#region Table row */
    .percentageCol {
        text-align: right;
        font-weight: bold;
    }

    .stackedCircles {
        margin: auto 0;
    }
    /*#endregion */

    
</style>

@section Styles{
    <link href="~/css/DashboardCSS/areaChart.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/pieChart.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/underCircle.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/cateCircle.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/paycheckCircle.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/listColumn.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/topCategoryColumn.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="#">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/jss/lineChart.js"></script>
    <script src="~/jss/pieChart.js"></script>
    <title></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-2" style="background-color: #2d3339;">
        <div class="container-fluid">
            <button class="btn btn-lg btn-dark btn-outline-light"></button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbarToggler" aria-controls="topNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <button class="btn btn-outline-info m-1">Week</button>
                <button class="btn btn-outline-info m-1">Month</button>
                <button class="btn btn-outline-info m-1">Year</button>
                <div class="bg-dark" style="border:3px solid white;border-radius:50%;margin-left:20px;width:45px;height:45px;">

                </div>
            </div>
        </div>
    </nav>

    <div style="height:100%;overflow-y:auto;">
        <div class="row" style="margin:15px 0 15px 15px">
            <div class="col statPill">
                <div class="row">
                    <div class="col my-auto pill-left">
                        <span>440$</span>
                    </div>
                    <div class="col pill-right">
                        <p>Category</p>
                        <p>Category</p>
                        <p>Category</p>
                    </div>
                </div>
            </div>
            <div class="col statPill">
                <div class="row">
                    <div class="col my-auto pill-left">
                        <span>440$</span>
                    </div>
                    <div class="col pill-right">
                        <p>Category</p>
                        <p>Category</p>
                        <p>Category</p>
                    </div>
                </div>
            </div>
            <div class="col statPill">
                <div class="row">
                    <div class="col my-auto pill-left">
                        <span>440$</span>
                    </div>
                    <div class="col pill-right">
                        <p>Category</p>
                        <p>Category</p>
                        <p>Category</p>
                    </div>
                </div>
            </div>
            <div class="col statPill">
                <div class="row">
                    <div class="col my-auto pill-left">
                        <span>440$</span>
                    </div>
                    <div class="col pill-right">
                        <p>Category</p>
                        <p>Category</p>
                        <p>Category</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin: 15px 0 15px 15px; ">
            <div class="col-8 areaChartCol">
                <figure id="areafigure" class="highcharts-figure">
                    <div id="container" class="areaChartDiv"></div>
                </figure>
            </div>
            <div class="col-4">
                <figure id="pieFigure" class="highcharts-figure">
                    <div id="container-pie" class="pieChartDiv"></div>
                </figure>
            </div>
        </div>

        <div class="row" style="margin: 15px 0 15px 15px; ">
            <div class="col-6 tableColumn table-responsive" id="view-all">
                @await Html.PartialAsync("_ViewAll", Model)
            </div>
            <div class="col-2 stackedCircles">
                <div class="u-statCircle">
                    <div class="smallerCircle">
                        <p id="amountP" class="boldHeader" onmouseover="showPercentage()" data-toggle="tooltip" data-placement="top" title="@ViewBag.TooltipPercentage%">@ViewBag.SumLast30$</p>
                        <p>of @ViewBag.SumBeforeLast30$</p>
                        <hr style="margin:5px 10% 5px 10%;padding:0;height:3px;" />
                        <p><small>@ViewBag.UnderMonth$ under</small></p>
                        <p><small>last month</small></p>
                    </div>
                    <div class="circle">
                        <div class="bar u-left">
                            <div class="progress"></div>
                        </div>
                        <div class="bar u-right">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>

                <div class="c-statCircle">
                    <div class="smallerCircle">
                        <p class="boldHeader">@ViewBag.TopCategory%</p>
                        <p>@ViewBag.TopCategoryName</p>
                        <hr style="margin:5px 10% 5px 10%;padding:0;height:3px;" />
                        <p><small>@ViewBag.TopCategoryAmount$ of</small></p>
                        <p><small>@ViewBag.SumLast30$</small></p>
                    </div>
                    <div class="circle">
                        <div class="bar c-left">
                            <div class="progress"></div>
                        </div>
                        <div class="bar c-right">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 topCategoryColumn table-responsive">
                    <table class="table table-hover">
                        <thead class="sticky-top">
                            <tr>
                                <td id="tableRowId">Categories by amount</td>
                                <td class="percentageCol">%</td>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @foreach (var item in ViewBag.Categories)
                            {
                                <tr class="trClass">
                                    <td>
                                        @item.CategoryName
                                    </td>
                                    <td class="percentageCol">
                                        @String.Format("{0:0.00}", item.CategoryPercentage)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
        
        <div class="row" style="margin:20px 0 20px 20px;">

        </div>
    </div>

</body>
</html>

<script>
    $(showLineChart);
    $(showPieChart);
    function showPercentage() {
        $('#amountP').tooltip('show');
    }

    //function EditPaycheck() {
    //    var amountField = document.getElementById('paycheckAmount');
    //    if (amountField.hidden == false) {
    //        amountField.hidden = true;
    //        document.getElementById('paycheckInputField').hidden = false;
    //    }
    //    else {
    //        amountField.hidden = false;
    //        document.getElementById('paycheckInputField').hidden = true;
    //    }
    //}
</script>

@section Scripts{
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
}
