@model IEnumerable<Expense>

<style>
    body {
        font-family: Arial;
        background-color: #212529;
        color: #9ba6b0;
    }
    /*#region old */

    /*#region table */
    .tableContainer {
        padding: 0;
        margin: 0;
        height: 350px;
        max-width: calc(80%-609px);
        min-width: 645px;
    }

    thead.sticky-top {
        background-color: lightgray;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        /*background-color: #5f666d;*/
        background-color: lightgray;
        color: white;
    }

    /*#endregion */

    /*#region mainLayout */

    /*#endregion */

    .shadowDiv {
        box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.22);
    }

        .shadowDiv:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.22);
        }
    /*#region StatCircles */

    div .u-statCircle, div .c-statCircle {
        animation: circleShow 0.6s linear;
    }

    @@keyframes circleShow {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #adviceDiv p {
        border-top: 2px solid black;
        margin: 10px 8px 0 8px;
        padding-top: 10px;
        font-weight: 600;
    }

        #adviceDiv p a {
            text-decoration: none;
            color: #0D6EFD;
            cursor: pointer;
        }

            #adviceDiv p a:hover {
                color: #012965;
            }

    .circle .u-right {
        z-index: 3;
        transform: rotate(
@ViewBag.PercentageStringStartRightU );
    }
    @@keyframes u-left {
        100% {
            transform: rotate(@ViewBag.PercentageStringLeftU);
        }
    }
    @@keyframes u-right {
        100% {
            transform: rotate(@ViewBag.PercentageStringRightU);
        }
    }

    .circle .c-right {
        z-index: 3;
        transform: rotate(@ViewBag.PercentageStringStartRightC);
    }
    @@keyframes c-left {
        100% {
            transform: rotate(@ViewBag.PercentageStringLeftC);
        }
    }
    @@keyframes c-right {
        100% {
            transform: rotate(@ViewBag.PercentageStringRightC);
        }
    }

    .circle .p-right {
        z-index: 3;
        transform: rotate(@ViewBag.PercentageStringStartRightC);
    }
    @@keyframes p-left {
        100% {
            transform: rotate(@ViewBag.PercentageStringLeftC);
        }
    }
    @@keyframes p-right {
        100% {
            transform: rotate(@ViewBag.PercentageStringRightC);
        }
    }

   /*TEST*/
    .circle .c-left .progress {
        z-index: 4;
        animation: c-left @ViewBag.LeftSpeedC linear both;
    }


    .circle .c-right .progress {
        animation: c-right @ViewBag.RightSpeedC linear both;
        animation-delay: @ViewBag.LeftSpeedC;
    }

    .circle .u-left .progress {
        z-index: 4;
        animation: u-left @ViewBag.LeftSpeedU   linear both;
    }


    .circle .u-right .progress {
        animation: u-right @ViewBag.RightSpeedU linear both;
        animation-delay: @ViewBag.LeftSpeedU;
    }

    .circle .p-left .progress {
        z-index: 4;
        animation: u-left @ViewBag.LeftSpeedU   linear both;
    }


    .circle .p-right .progress {
        animation: u-right @ViewBag.RightSpeedU linear both;
        animation-delay: @ViewBag.LeftSpeedU;
    }


/*#endregion */

/*#endregion */

    /*#region Pills row */

    .statPill {
        background-color: #2d3339;
        color: #9ba6b0;
        border: 3px solid #434d56;
        border-radius: 5px;
        margin-right: 20px;
        max-height: auto;
    }

        .statPill span {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }

        .statPill .pill-left {
            text-align: center;
            align-content: center;
        }

        .statPill .pill-right p {
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
        }

    /*#endregion */


    /*#region AreaChart row */

    .areaChartDiv {
        border: 3px solid #434d56;
        border-radius: 5px;
        padding: 0;
        max-height: 406px !important;
    }

    .pieChartDiv {
        max-height: 406px !important;
    }
    /*#endregion */

    /*#region Table row */

    .tableColumn {
        background-color: #2d3339;
        color: #9ba6b0;
        padding: 0;
        border: 3px solid #434d56;
        border-radius: 5px;
    }
    .table {
        background-color: #2d3339;
        color: #9ba6b0;
    }

    /*#endregion */
</style>

@section Styles{
    <link href="~/css/DashboardCSS/lineChart.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/pieChart.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/underCircle.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/cateCircle.css" rel="stylesheet" />
    <link href="~/css/DashboardCSS/paycheckCircle.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="#">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/jss/lineChart.js"></script>
    <script src="~/jss/pieChart.js"></script>
    <title></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-2" style="background-color: #2d3339;">
        <div class="container-fluid">
            <button class="btn btn-lg btn-dark btn-outline-light"></button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbarToggler" aria-controls="topNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <button class="btn btn-outline-info m-1">Week</button>
                <button class="btn btn-outline-info m-1">Month</button>
                <button class="btn btn-outline-info m-1">Year</button>
                <div class="bg-dark" style="border:3px solid white;border-radius:50%;margin-left:20px;width:45px;height:45px;">

                </div>
            </div>
        </div>
    </nav>

    <div class="row" style="margin:20px 0 20px 20px">
        <div class="col statPill">
            <div class="row">
                <div class="col my-auto pill-left">
                    <span>440$</span>
                </div>
                <div class="col pill-right">
                    <p>Category</p>
                    <p>Category</p>
                    <p>Category</p>
                </div>
            </div>
        </div>
        <div class="col statPill">
            <div class="row">
                <div class="col my-auto pill-left">
                    <span>440$</span>
                </div>
                <div class="col pill-right">
                    <p>Category</p>
                    <p>Category</p>
                    <p>Category</p>
                </div>
            </div>
        </div>
        <div class="col statPill">
            <div class="row">
                <div class="col my-auto pill-left">
                    <span>440$</span>
                </div>
                <div class="col pill-right">
                    <p>Category</p>
                    <p>Category</p>
                    <p>Category</p>
                </div>
            </div>
        </div>
        <div class="col statPill">
            <div class="row">
                <div class="col my-auto pill-left">
                    <span>440$</span>
                </div>
                <div class="col pill-right">
                    <p>Category</p>
                    <p>Category</p>
                    <p>Category</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="margin:20px 0 20px 20px;">
        <div class="container">
            <div class="row">
                <div class="col-8 areaChartDiv">
                    <figure id="linefigure" class="highcharts-figure">
                        <div id="container"></div>
                    </figure>
                </div>
                <div class="col-4 pieChartDiv">
                    <figure id="pieFigure" class="highcharts-figure">
                        <div id="container-pie"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin:20px 0 20px 20px;">
        <div class="col tableColumn">
            <div id="view-all" class="table table-responsive">
                @await Html.PartialAsync("_ViewAll", Model)
            </div>
        </div>
        <div class="col">

        </div>
    </div>

</body>
</html>

<script>
    $(showLineChart);
    $(showPieChart);
    //function showPercentage() {
    //    $('#amountP').tooltip('show');
    //}

    //function EditPaycheck() {
    //    var amountField = document.getElementById('paycheckAmount');
    //    if (amountField.hidden == false) {
    //        amountField.hidden = true;
    //        document.getElementById('paycheckInputField').hidden = false;
    //    }
    //    else {
    //        amountField.hidden = false;
    //        document.getElementById('paycheckInputField').hidden = true;
    //    }
    //}
</script>

@section Scripts{
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
}
