@model IEnumerable<GoldCap.Models.ExpenseRecurring>
@{
    ViewData["Title"] = "List of recurring payments";
    Layout = null;
}


    <style>
        .modal-body {
            padding: 0;
        }
        .btn-succes-color {
        color: var(--text-third);
        border-color: var(--btn-succes);
        background-color: var(--btn-succes);
        outline-color: var(--btn-succes);
        font-weight: bold;
    }

        .btn-succes-color:hover {
            background-color: var(--btn-succes-hover);
            color: var(--text-third);
        }
    </style>
    <script type="text/javascript">
    </script>
    <div class="table-responsive tableContainer" id="tableInModal">
        <table class="table table-hover">
            <thead class="sticky-top">
                <tr class="align-text-top">
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th style="padding-left:20px;">
                        Next Payment
                    </th>
                    <th style="text-align:right; padding-right:30px;">
                        <a onclick="showInPopup('@Url.Action("CreateOrEdit","Dashboard",new { id = 0},Context.Request.Scheme)','New expense')" class="btn btn-success btn-sm">New expense</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td class="description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="width:220px;padding-left:20px;">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td align="right" style="padding-right:30px;width:220px;">
                        <form asp-controller="dashboard" asp-action="Delete" asp-route-id="@item.Id" onsubmit="return DeleteRecurring(this)" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@*<script>$.ajaxPrefilter(function (options, originalOptions, jqXHR) { options.async = true; });</script>*@