@model ExpensesListViewModel



<style>
    html {
        overflow: hidden;
    }

    .modal-backdrop {
        z-index: -1;
    }

    .wholeList {
        height: 100%;
        display: flex;
    }

    .sortMenuHidden {
        display: none;
    }

    .sortMenuDIsplayed {
        display: block;
    }

    #listCol {
        margin: 0.3rem;
        border: 3px solid #434d56;
        border-radius: 5px;
        height: 100%;
        padding: 0;
        flex: 4;
        min-width: 29.5rem;
    }

        #listCol::-webkit-scrollbar {
            display: block;
            width: 3px;
            background-color: #434d56;
        }

        #listCol::-webkit-scrollbar-track-piece:start {
            margin-top: 47px;
            scrollbar-track-color: red;
        }

        #listCol::-webkit-scrollbar-thumb {
            background-color: #0790ab;
        }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    @@media only screen and (max-width: 1091px) {
        .navbar-side {
            width: 100vw !important;
            height: 5rem !important;
            bottom: 0 !important;
        }

        .navbar-nav-side {
            flex-direction: row;
        }

        .nav-side-link {
            justify-content: center;
        }

        main {
            margin: 0 !important;
            margin-bottom: 5rem !important;
        }

        .goldcapLogo {
            display: none;
        }

        .link-text {
            display: none !important;
        }

        .wholeList {
            padding-bottom: 1rem;
        }

        .navbar-top {
            display: none;
        }
    }

    @@media only screen and (min-width: 1092px) {
        /*#region Basic */

        .navbar-side {
            width: 14rem;
            height: 100vh;
            top: 0;
        }

        .goldcapLogo-text {
            display: inline;
        }

        .navbar-side:hover {
            width: 14rem !important;
        }

            .navbar-side:hover .link-text {
                display: inline !important;
            }

            .navbar-side:hover .goldcapLogo i {
                display: none !important;
            }

            .navbar-side:hover ~ .navbar-top {
                z-index: -1;
            }

        .navbar-top {
            display: flex;
        }

        main {
            margin-top: 4rem;
        }
        /*#endregion */
    }

    /*@@media only screen and (min-width: 770px) {
        .sortMenu {
            flex: 1;
            min-width: 17rem;
            margin: 0.3rem;
            border: 3px solid #434d56;
            border-radius: 5px;
            height: 100%;
            padding: 0;
            margin-left: 0;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .sortMenu::-webkit-scrollbar {
            display: block;
            width: 0.1875rem;
            background-color: #434d56;
        }

        .sortMenu::-webkit-scrollbar-track-piece:start {
            margin-top: 3rem;
            scrollbar-track-color: red;
        }

        .sortMenu::-webkit-scrollbar-thumb {
            background-color: #0790ab;
        }*/
        /*#region Header */

        /*p.sort-header {
            background-color: #434d56;
            color: #9ba6b0;
            font-size: 1rem;
            margin: 0;
            white-space: nowrap;
            line-height: 3rem;
            display: flex;
            justify-content: space-between;
        }

            p.sort-header input.btn-sort {
                font-weight: normal;
                height: 50%;
                margin: auto 0.3rem auto 0;
            }

            p.sort-header a.refresh-button {
                cursor: pointer;
                text-decoration: none;
                color: #9ba6b0;
                margin-left: 0.5rem;
            }

                p.sort-header a.refresh-button:hover {
                    color: #0DCAF0;
                }*/
        /*#endregion */

        /*.sort-paragraph {
            margin: 0.3rem 1rem 1rem 1rem;
        }

        input[type=text] {
            border: 1px solid #434d56;
            border-radius: 0.5rem;
            background-color: #434d56;
            text-align: center;
            outline: none;
            color: #9ba6b0;
        }

            input[type=text]:focus {
                border-color: #0DCAF0;
            }*/
        /*#region Description */

        /*#descriptionLabel {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            color: #9ba6b0;
        }

        #descriptionLabel {
            text-align: center;
        }*/
        /*#endregion */
        /*#region Price */

        /*.price-section {
            display: flex;
            justify-content: space-between;
        }

        #priceFromField, #priceToField {
            border: 1px solid #434d56;
            border-radius: 0.5rem;
            background-color: #434d56;
            text-align: center;
            outline: none;
            color: #9ba6b0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            flex: 4;
            min-width: 2rem;
            margin-right: 0;
        }

        .currency {
            flex: 1;
            min-width: 0.1rem;
            border: 1px solid #434d56;
            border-radius: 0.5rem;
            background-color: #434d56;
            outline: none;
            color: #9ba6b0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 1px solid #9ba6b0;
            padding: 0;
            margin: 0;
            text-align: center;
        }

            .currency:not(:last-child) {
                margin-right: 0.5rem;
            }*/
        /*#endregion */

        /*.section-name {
            color: #9ba6b0;
        }*/
        /*#region Category */

        /*#categoryList {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        input.form-check-input {
            background-color: #9ba6b0;
        }

            input.form-check-input:hover, input.form-check-input:checked {
                background-color: #0DCAF0;
                color: #9ba6b0;
            }

        #showMore {
            padding-left: 16px;
            font-size: 12px;
            margin-top: 0;
            cursor: pointer;
        }

            #showMore:hover {
                color: #657381;
            }

        #showArrow {
            cursor: pointer;
            color: #9ba6b0;
            font-size: 12px;
            margin-left: 4px;
        }


        label.section-name {
            width: 100%;
            text-align: center;
        }*/
        /*#endregion */

        /*#region Date */

        /*.date-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        input[type=datetime-local] {
            border: 1px solid #434d56;
            border-radius: 0.5rem;
            background-color: #434d56;
            text-align: center;
            outline: none;
            color: #9ba6b0;
            margin-top: 0.5rem;
        }

            input[type=datetime-local]:not(:first-child) {
                margin-top: 1rem;
            }


            input[type=datetime-local]:focus {
                border-color: #0DCAF0;
            }*/

        /*#endregion */
    /*}*/

    @@media only screen and (max-width: 769px) {
        .sortMenu {
            display: none;
        }

        #sortCollapseButton {
            clip-path: polygon(0 0, 0% 100%, 26% 50%);
            width: 8rem;
            height: 6rem;
            background-color: var(--bg-primary);
            position: absolute;
            z-index: 4;
            bottom: 0;
            margin-bottom: 8rem;
            text-align: center;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
        }
            #sortCollapseButton:hover #sortCollapseButtonInside {
                background-color: var(--bg-third);
            }
        .sortCollapseActive {
            background-color: var(--bg-third);
        }
        .sortCollapseNotActive {
            background-color: var(--bg-fourth);
        }

        #sortCollapseButtonInside {
            clip-path: polygon(0 0, 0% 100%, 26% 50%);
            width: 80%;
            height: 80%;
            transition: background-color 0.3s ease;
        }
    }

    @@media only screen and (max-width: 955px) {
        .descriptionTd, .descriptionTh {
            display: none;
        }
    }

    @@media only screen and (max-width: 480px) {
        .date_column {
            display: none;
        }

        #listCol {
            min-width: 12.5rem;
        }
    }

    .sortMenuCollapsed {
        flex: 1;
        width: 100%;
        margin: 0.3rem;
        border: 3px solid #434d56;
        border-radius: 5px;
        height: 100%;
        padding: 0;
        margin-left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        display: block;
        z-index: 3;
    }

    .sortMenu {
        flex: 1;
        min-width: 17rem;
        margin: 0.3rem;
        border: 3px solid #434d56;
        border-radius: 5px;
        height: 100%;
        padding: 0;
        margin-left: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .sortMenu::-webkit-scrollbar {
            display: block;
            width: 0.1875rem;
            background-color: #434d56;
        }

        .sortMenu::-webkit-scrollbar-track-piece:start {
            margin-top: 3rem;
            scrollbar-track-color: red;
        }

        .sortMenu::-webkit-scrollbar-thumb {
            background-color: #0790ab;
        }
    /*#region Header */

    p.sort-header {
        background-color: #434d56;
        color: #9ba6b0;
        font-size: 1rem;
        margin: 0;
        white-space: nowrap;
        line-height: 3rem;
        display: flex;
        justify-content: space-between;
    }

        p.sort-header input.btn-sort {
            font-weight: normal;
            height: 50%;
            margin: auto 0.3rem auto 0;
        }

        p.sort-header a.refresh-button {
            cursor: pointer;
            text-decoration: none;
            color: #9ba6b0;
            margin-left: 0.5rem;
        }

            p.sort-header a.refresh-button:hover {
                color: #0DCAF0;
            }
    /*#endregion */

    .sort-paragraph {
        margin: 0.3rem 1rem 1rem 1rem;
    }

    input[type=text] {
        border: 1px solid #434d56;
        border-radius: 0.5rem;
        background-color: #434d56;
        text-align: center;
        outline: none;
        color: #9ba6b0;
    }

        input[type=text]:focus {
            border-color: #0DCAF0;
        }
    /*#region Description */

    #descriptionLabel {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: #9ba6b0;
    }

    #descriptionLabel {
        text-align: center;
    }
    /*#endregion */
    /*#region Price */

    .price-section {
        display: flex;
        justify-content: space-between;
    }

    #priceFromField, #priceToField {
        border: 1px solid #434d56;
        border-radius: 0.5rem;
        background-color: #434d56;
        text-align: center;
        outline: none;
        color: #9ba6b0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: 4;
        min-width: 2rem;
        margin-right: 0;
    }

    .currency {
        flex: 1;
        min-width: 0.1rem;
        border: 1px solid #434d56;
        border-radius: 0.5rem;
        background-color: #434d56;
        outline: none;
        color: #9ba6b0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid #9ba6b0;
        padding: 0;
        margin: 0;
        text-align: center;
    }

        .currency:not(:last-child) {
            margin-right: 0.5rem;
        }
    /*#endregion */

    .section-name {
        color: #9ba6b0;
    }
    /*#region Category */

    #categoryList {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    input.form-check-input {
        background-color: #9ba6b0;
    }

        input.form-check-input:hover, input.form-check-input:checked {
            background-color: #0DCAF0;
            color: #9ba6b0;
        }

    #showMore {
        padding-left: 16px;
        font-size: 12px;
        margin-top: 0;
        cursor: pointer;
    }

        #showMore:hover {
            color: #657381;
        }

    #showArrow {
        cursor: pointer;
        color: #9ba6b0;
        font-size: 12px;
        margin-left: 4px;
    }


    label.section-name {
        width: 100%;
        text-align: center;
    }
    /*#endregion */

    /*#region Date */

    .date-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    input[type=datetime-local] {
        border: 1px solid #434d56;
        border-radius: 0.5rem;
        background-color: #434d56;
        text-align: center;
        outline: none;
        color: #9ba6b0;
        margin-top: 0.5rem;
    }

        input[type=datetime-local]:not(:first-child) {
            margin-top: 1rem;
        }


        input[type=datetime-local]:focus {
            border-color: #0DCAF0;
        }
</style>


<body class="">
    <a id="sortCollapseButton" onclick="sortCollapseFunction()">
        <div id="sortCollapseButtonInside" class="sortCollapseNotActive">

        </div>
    </a>
    <div class="wholeList">
        <div id="listCol" class="table-responsive">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr class="align-text-top">
                        <th>
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort", "Expenses", new { sortOrder = (ViewBag.AmountSortParm == null ? "Amount" : ViewBag.AmountSortParm)}, Context.Request.Scheme)','Sort')">Amount</a>
                        </th>
                        <th>
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort","Expenses",new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)},Context.Request.Scheme)','Sort')">Category</a>
                        </th>
                        <th class="descriptionTh">
                            Description
                        </th>
                        <th class="date_column">
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort","Expenses",new { sortOrder = (ViewBag.DateSortParm == null ? "Date" : ViewBag.DateSortParm)},Context.Request.Scheme)','Sort')">Date</a>
                        </th>
                        <th class="button_column">
                            <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = 0},Context.Request.Scheme)','New expense')" class="btn btn-success btn-sm">New expense</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Expenses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td class="descriptionTd">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="date_column">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td class="button_column">
                                <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = item.Id},Context.Request.Scheme)','Update expense')" class="btn btn-primary btn-sm">Edit</a>
                                @*<form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDeleteSort(this)" class="d-inline">
                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                    </form>*@
                                <a class="btn btn-danger btn-sm" onclick="jQueryAjaxDeleteSort('@Url.Action("Delete","Expenses",new { sortOrder = (ViewBag.CategorySortParm == null ? "Date" : ViewBag.CategorySortParm), id = item.Id},Context.Request.Scheme)')">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="sortMenu" class="sortMenu">
            <form id="sortMenuForm" asp-action="Sort" onsubmit="return PostSort(this);" autocomplete="off">
                <p class="sort-header sticky-top">
                    <a class="refresh-button" onclick="JqueryAjaxSort('@Url.Action("Sort", "Expenses", new { sortOrder = "default", refresh = true}, Context.Request.Scheme)','Sort', true)">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                    <span>Sort options</span>
                    <input type="submit" value="Search" class="btn btn-outline-info btn-sm btn-sort" />
                </p>
                <p class="sort-paragraph">
                    <label id="descriptionLabel">Description<input id="descriptionField" type="text" placeholder="search" asp-for="SortMenu.DescriptionSearch" /></label>
                </p>
                <p class="sort-paragraph price-section">
                    <input id="priceFromField" asp-for="SortMenu.PriceFrom" type="number" placeholder="from" /><input type="number" class="currency" placeholder="$" disabled />
                    <span class="priceLink"></span>
                    <input id="priceToField" asp-for="SortMenu.PriceTo" type="number" placeholder="to" /><input type="number" class="currency" placeholder="$" disabled />
                </p>
                <div class="sort-paragraph">
                    <label class="section-name">Categories</label>
                    <ul id="categoryList">
                        @for (int i = 0; i < Model.CategoriesList.Count(); i++)
                        {
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">@Html.CheckBoxFor(c => c.SortMenu.ChosenCategories[i], new { @class = "form-check-input", @type = "checkbox" }) @Model.CategoriesList[i].Name</label>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (Model.CategoriesList.Count() > 7)
                    {
                        <span id="showMore" onclick="showMore()">Show More</span><i onclick="showMore()" id="showArrow" class="fas fa-chevron-down"></i>
                    }
                    else
                    { <span id="showMore"></span>}
                </div>
                <div class="sort-paragraph">
                    <label class="section-name">Date</label>
                    <div class="date-section">
                        <input type="datetime-local" id="date-from" asp-for="SortMenu.DateFrom" />
                        <input type="datetime-local" asp-for="SortMenu.DateTo" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>


<script>
    $(document).ready(function () {
        if (sessionStorage.getItem('showButton') != null) {
            document.getElementById('showMore').textContent = sessionStorage.getItem('showButton');
            showMore();
        }
        else {
            document.getElementById('showMore').textContent = "Show Less";
            showMore();
        }
    });
    function showMore() {
        var x = $('#showMore').text();
        var listLen = document.getElementById('categoryList').getElementsByTagName("li").length;
        if (x == 'Show More') {
            $('#categoryList li:hidden').slice(0, listLen).show();
            if ($('#categoryList li').length == $('#categoryList li:visible').length) {
                $('#showMore').innerHtml == 'Show Less';
                document.getElementById('showMore').innerHTML = 'Show Less';
                document.getElementById('showArrow').classList.remove('fa-chevron-down');
                document.getElementById('showArrow').classList.add('fa-chevron-up');
                sessionStorage.setItem('showButton', 'Show More');
            }
        }
        else if (x == 'Show Less') {
            $('#categoryList li').slice(7, listLen).hide();
            $('#showMore').innerHtml == 'Show More';
            document.getElementById('showMore').innerHTML = 'Show More';
            document.getElementById('showArrow').classList.add('fa-chevron-down');
            document.getElementById('showArrow').classList.remove('fa-chevron-up');
            sessionStorage.setItem('showButton', 'Show Less');
        }
    };
    ListSort = (url, title, refresh) => {
        var form = document.getElementById('sortMenuForm');
        try {
            $.ajax({
                type: 'POST',
                url: url,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#view-all').html(res.html);
                },
                error: function (err) {
                    console.log(err)
                }
            })
            return false;
        } catch (ex) {
            console.log(ex)
        }
    };
    PostSort = form => {
        try {
            $.ajax({
                type: 'POST',
                url: form.action,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#view-all').html(res.html);
                },
                error: function (err) {
                    console.log(err)
                }
            })
            //to prevent default form submit event
            return false;
        } catch (ex) {
            console.log(ex)
        }
    }
    jQueryAjaxDeleteSort = (url) => {
        if (confirm('Are you sure to delete this record ?')) {
            var sortForm = document.getElementById('sortMenuForm');
            try {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: new FormData(sortForm),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        $('#view-all').html(res.html);
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } catch (ex) {
                console.log(ex)
            }
        }
        //prevent default form submit event
        return false;
    }
    $(document).ready(function () {
        sessionStorage.setItem("sortMenuActive", "false");
    });

    $(window).resize(function () {
        if ($(window).width() >= 770) {
            document.getElementById("sortMenu").classList.remove("sortMenuCollapsed");
            document.getElementById("listCol").style.display = "block";
            document.getElementById("sortCollapseButtonInside").classList.add("sortCollapseNotActive");
            document.getElementById("sortCollapseButtonInside").classList.remove("sortCollapseActive");
            sessionStorage.setItem("sortMenuActive", "false");
        }
    });
    
    function sortCollapseFunction() {
        var sortParagraphs = document.getElementsByClassName("sort-paragraph");
        var sortHeader = document.getElementsByClassName("sort-header")[0];
        var currencyIcons = document.getElementsByClassName("currency");
        document.getElementById("sortCollapseButton").style.transformOrigin = "25% 50%";
        document.getElementById("sortCollapseButton").style.left = "right";
        var sortMenuClass = document.getElementsByClassName("sortMenu")[0];
        var sortMenu = document.getElementById("sortMenu");
        if (sessionStorage.getItem("sortMenuActive") == "false") {
            sortMenu.classList.add("sortMenuCollapsed");
            document.getElementById("listCol").style.display = "none";
            document.getElementById("sortCollapseButtonInside").classList.remove("sortCollapseNotActive");
            document.getElementById("sortCollapseButtonInside").classList.add("sortCollapseActive");
            //Array.prototype.forEach.call(sortParagraphs, function (item) {
            //    item.style.fontSize = "clamp(2rem, 2.5rem, 3rem)";
            //});

            sessionStorage.setItem("sortMenuActive", "true");
        }
        else {
            document.getElementById("sortCollapseButtonInside").classList.add("sortCollapseNotActive");
            document.getElementById("sortCollapseButtonInside").classList.remove("sortCollapseActive");
            sortMenu.classList.remove("sortMenuCollapsed");
            document.getElementById("listCol").style.display = "block";
            sessionStorage.setItem("sortMenuActive", "false");

        }
    };
</script>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
}