@model ExpensesListViewModel



<style>
    
</style>
<link href="~/css/ExpensesCSS/expenseListViewAll.css" rel="stylesheet" />
<script src="~/jss/ExpensesJS/expensesList.js"></script>

<body class="">
    <a id="sortCollapseButton" onclick="sortCollapseFunction()">
        <div id="sortCollapseButtonInside" class="sortCollapseNotActive">

        </div>
    </a>
    <div class="wholeList">
        <div id="listCol" class="table-responsive">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr class="align-text-top">
                        <th>
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort", "Expenses", new { sortOrder = (ViewBag.AmountSortParm == null ? "Amount" : ViewBag.AmountSortParm)}, Context.Request.Scheme)','Sort')">Amount</a>
                        </th>
                        <th>
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort","Expenses",new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)},Context.Request.Scheme)','Sort')">Category</a>
                        </th>
                        <th class="descriptionTh">
                            Description
                        </th>
                        <th class="date_column">
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort","Expenses",new { sortOrder = (ViewBag.DateSortParm == null ? "Date" : ViewBag.DateSortParm)},Context.Request.Scheme)','Sort')">Date</a>
                        </th>
                        <th class="button_column">
                            <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = 0},Context.Request.Scheme)','New expense')" class="btn btn-succes-color btn-sm">New expense</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Expenses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td class="descriptionTd">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="date_column">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td class="button_column">
                                <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = item.Id},Context.Request.Scheme)','Update expense')" class="btn btn-info-color btn-sm">Edit</a>
                                @*<form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDeleteSort(this)" class="d-inline">
                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                    </form>*@
                                <a class="btn btn-danger-color btn-sm" onclick="jQueryAjaxDeleteSort('@Url.Action("Delete","Expenses",new { id = item.Id},Context.Request.Scheme)')">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="sortMenu" class="sortMenu">
            <form id="sortMenuForm" asp-action="Sort" onsubmit="return PostSort(this);" autocomplete="off">
                <p class="sort-header sticky-top">
                    <a class="refresh-button" onclick="JqueryAjaxSort('@Url.Action("Sort", "Expenses", new { sortOrder = "default", refresh = true}, Context.Request.Scheme)','Sort', true)">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                    <span>Sort options</span>
                    <input type="submit" value="Search" class="btn btn-outline-info btn-sm btn-sort" />
                </p>
                <p class="sort-paragraph">
                    <label id="descriptionLabel">Description<input id="descriptionField" type="text" placeholder="search" asp-for="SortMenu.DescriptionSearch" /></label>
                </p>
                <p class="sort-paragraph price-section">
                    <input id="priceFromField" asp-for="SortMenu.PriceFrom" type="number" placeholder="from" /><input type="number" class="currency" placeholder="$" disabled />
                    <span class="priceLink"></span>
                    <input id="priceToField" asp-for="SortMenu.PriceTo" type="number" placeholder="to" /><input type="number" class="currency" placeholder="$" disabled />
                </p>
                <div class="sort-paragraph">
                    <label class="section-name">Categories</label>
                    <ul id="categoryList">
                        @for (int i = 0; i < Model.CategoriesList.Count(); i++)
                        {
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">@Html.CheckBoxFor(c => c.SortMenu.ChosenCategories[i], new { @class = "form-check-input", @type = "checkbox" }) @Model.CategoriesList[i].Name</label>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (Model.CategoriesList.Count() > 7)
                    {
                        <span id="showMore" onclick="showMore()">Show More</span><i onclick="showMore()" id="showArrow" class="fas fa-chevron-down"></i>
                    }
                    else
                    { <span id="showMore"></span>}
                </div>
                <div class="sort-paragraph">
                    <label class="section-name">Date</label>
                    <div class="date-section">
                        <input type="datetime-local" id="date-from" asp-for="SortMenu.DateFrom" />
                        <input type="datetime-local" asp-for="SortMenu.DateTo" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>


<script>
    $(document).ready(function () {
        if (sessionStorage.getItem('showButton') != null) {
            document.getElementById('showMore').textContent = sessionStorage.getItem('showButton');
            showMore();
        }
        else {
            document.getElementById('showMore').textContent = "Show Less";
            showMore();
        }
        if ('@Model.SortMenu' == null || '@Model.SortMenu' == '') {
                sessionStorage.setItem("filtered", "false");
            }
    });
    
    
    $(document).ready(function () {
        sessionStorage.setItem("sortMenuActive", "false");
    });
    $(window).resize(function () {
        if ($(window).width() >= 770) {
            document.getElementById("sortMenu").classList.remove("sortMenuCollapsed");
            document.getElementById("listCol").style.display = "block";
            document.getElementById("sortCollapseButtonInside").classList.add("sortCollapseNotActive");
            document.getElementById("sortCollapseButtonInside").classList.remove("sortCollapseActive");
            sessionStorage.setItem("sortMenuActive", "false");
        }
    });
    
</script>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
}