@model ExpensesListViewModel



<style>
    .modal-backdrop {
        z-index: -1;
    }

    td.date_column, th.date_column {
        max-width: 240px;
    }

    .tableColumn {
        background-color: #2D3339;
        color: var(--text-primary);
        padding: 0;
        border: 3px solid #434d56;
        border-radius: 5px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        overflow-x: auto;
        height: 100%;
        flex: 4;
        margin: 0.3rem;
        overflow-y: scroll;
        float: left;
        margin-right: 0;
        min-width: 570px;
    }

        .tableColumn::-webkit-scrollbar {
            display: block;
            width: 3px;
            background-color: #434d56;
        }

        .tableColumn::-webkit-scrollbar-track-piece:start {
            margin-top: 47px;
        }

        .tableColumn::-webkit-scrollbar-thumb {
            background-color: #0790ab;
        }

    
    
    @@media only screen and (min-width: 858px)
    {
        #sortMenu {
            flex: 1;
            min-width: 269px;
        }
        .sortMenu {
            border: 3px solid #434d56;
            border-radius: 5px;
            border-left: none;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            float: left;
            margin-top: 0.3rem;
            margin-right: 0.3rem;
            color: #9ba6b0;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: var(--bg-primary);
            transition: opacity 0.3s ease;
            height: 100%;
            opacity: 1;
        }
    }
    @@media only screen and (max-width: 857px)
    {
        .tableColumn {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 100%;
        }
        .sortMenu {
            flex: 0;
            min-width: unset;
            width: 0;
            opacity: 0;
        }
    }
        #sortMenu::-webkit-scrollbar {
            display: block;
            width: 3px;
            background-color: #434d56;
        }

        #sortMenu::-webkit-scrollbar-track-piece:start {
            margin-top: 47px;
            scrollbar-track-color: red;
        }

        #sortMenu::-webkit-scrollbar-thumb {
            background-color: #0790ab;
        }
    /*#region test */
    p.sort-header {
        background-color: #434d56;
        color: #9ba6b0;
        height: 48px;
        font-size: 16px;
        margin: 0;
        line-height: 48px;
        text-align: right;
        white-space: nowrap;
        z-index: 1;
    }

        p.sort-header input.btn-sort {
            align-self: end;
            margin-right: 15px;
            font-weight: normal;
        }

        p.sort-header a.refresh-button {
            margin-right: 5px;
            cursor: pointer;
            text-decoration: none;
            color: #9ba6b0;
        }

            p.sort-header a.refresh-button:hover {
                color: #0DCAF0;
            }

    div.sort-paragraph {
        margin-top: 15px;
        color: #9ba6b0;
    }

    input[type=number], input[type=number] {
        border: 1px solid #434d56;
        border-radius: 15px;
        background-color: #434d56;
        text-align: center;
        outline: none;
        color: #9ba6b0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        max-width: 80px;
    }

        input[type=number]:focus {
            border-color: #0DCAF0;
        }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number]::placeholder {
        color: #9ba6b0;
        -moz-appearance: textfield;
    }

    span.priceLink {
        display: inline-block;
        height: 5px;
        width: 15px;
        border-radius: 5px;
        background-color: #434d56;
    }

    input.currency {
        border: 1px solid #434d56;
        border-radius: 15px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 20px;
        margin: 0;
        padding: 0;
        height: 28px;
        border-left: 1px solid #9ba6b0;
    }

    h1.section-name {
        font-size: 20px;
        text-align: left;
        margin-left: 10px;
    }

    div.price-section {
        text-align: center;
    }

    div.categories-section {
        text-align: left;
    }

    #categoryList {
        list-style-type: none;
        padding-left: 16px;
        margin-bottom: 0;
    }

        #categoryList li:nth-child(n+8) {
            display: none;
        }

    #showMore {
        padding-left: 16px;
        font-size: 12px;
        margin-top: 0;
        cursor: pointer;
    }

        #showMore:hover {
            color: #657381;
        }

    #showArrow {
        cursor: pointer;
        color: #9ba6b0;
        font-size: 12px;
        margin-left: 4px;
    }

    input.form-check-input {
        background-color: #9ba6b0;
    }

        input.form-check-input:hover, input.form-check-input:checked {
            background-color: #0DCAF0;
            color: #9ba6b0;
        }

    input[type=datetime-local] {
        border: 1px solid #434d56;
        border-radius: 15px;
        background-color: #434d56;
        text-align: center;
        outline: none;
        margin-left: 5px;
        color: #9ba6b0;
        max-width: 180px;
    }

        input[type=datetime-local]:focus {
            border-color: #0DCAF0;
        }

    .date-section {
        display: flex;
        justify-content: space-between;
    }

    div.date-header {
        display: flex;
        vertical-align: middle;
        align-items: center;
        height: 52px;
    }

    div.date-input-div {
        text-align: center;
        padding-left: 0;
        margin-left: 5px;
        margin-right: 15px;
    }

    #date-from {
        margin-bottom: 5px;
    }

    input[type=text] {
        border: 1px solid #434d56;
        border-radius: 15px;
        background-color: #434d56;
        text-align: center;
        outline: none;
        margin-left: 5px;
        color: #9ba6b0;
    }

        input[type=text]:focus {
            border-color: #0DCAF0;
        }

    div.description-section {
        text-align: center;
    }

    .wholeList {
        display: flex;
        height: 100%;
    }
    /*#endregion */

    @@media only screen and (max-width: 1080px) {
        .navbar-side {
            width: 100vw !important;
            height: 5rem !important;
            bottom: 0 !important;
        }

        .navbar-nav-side {
            flex-direction: row;
        }

        .nav-side-link {
            justify-content: center;
        }

        main {
            margin: 0 !important;
            margin-bottom: 5rem !important;
        }

        .goldcapLogo {
            display: none;
        }

        .link-text {
            display: none !important;
        }

        .tableColumn {
            height: calc(100% - 1rem);
        }
        .sortMenu {
            height: calc(100% - 1rem) !important;
        }
        .date-section {
            padding-bottom: 1rem;
        }
        html {
            overflow: hidden !important;
        }

    }


    @@media only screen and (max-width: 857px) {

        #sortCollapseButton {
            clip-path: polygon(50% 50%, 0 0, 100% 0);
            position: absolute;
            z-index: 4;
            width: 6rem;
            height: 4rem;
            background-color: var(--bg-primary);
            border-top: 3px solid var(--bg-primary);
            transition: all 0.3s ease;
        }

            #sortCollapseButton:hover {
                background-color: var(--bg-fourth);
                border-top-color: var(--bg-fourth);
                cursor: pointer;
            }

                #sortCollapseButton:hover .sortCollapse {
                    background-color: var(--bg-third);
                }

        .sortCollapse {
            clip-path: polygon(50% 50%, 0 0, 100% 0);
            position: relative;
            margin: 0 auto;
            z-index: 4;
            width: 4rem;
            height: 2rem;
            background-color: var(--bg-secondary);
            transition: all 0.3s ease;
        }
    }

    @@media only screen and (min-width: 1081px) {
        .navbar-side {
            width: 14rem;
            height: 100vh;
            top: 0;
        }

        .goldcapLogo-text {
            display: inline;
        }

        .navbar-side:hover {
            width: 14rem !important;
        }

            .navbar-side:hover .link-text {
                display: inline !important;
            }

            .navbar-side:hover .goldcapLogo i {
                display: none !important;
            }

            .navbar-side:hover ~ .navbar-top {
                z-index: -1;
            }

        .navbar-top {
            display: flex;
        }

        main {
            margin-top: 4rem;
        }

        #collapseSideNavbar {
            display: inline-block;
        }
    }

    @@media only screen and (max-width: 585px) {
        .descriptionTd, .descriptionTh {
            display: none;
        }
        .tableColumn {
            min-width: 320px;
        }
    } 
</style>


<body>
    <a id="sortCollapseButton" onclick="sortCollapseFunction()" class="sortCollapseBorder">
        <div id="sortCollapseButtonInside" class="sortCollapse">

        </div>
    </a>
    <div class="wholeList">
        <div id="listCol" class="table-responsive tableColumn">
            <table class="table table-hover">
                <thead class="sticky-top">
                    <tr class="align-text-top">
                        <th>
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort", "Expenses", new { sortOrder = (ViewBag.AmountSortParm == null ? "Amount" : ViewBag.AmountSortParm)}, Context.Request.Scheme)','Sort')">Amount</a>
                        </th>
                        <th>
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort","Expenses",new { sortOrder = (ViewBag.CategorySortParm == null ? "Category" : ViewBag.CategorySortParm)},Context.Request.Scheme)','Sort')">Category</a>
                        </th>
                        <th class="descriptionTh">
                            Description
                        </th>
                        <th class="date_column">
                            <a style="cursor:pointer;" onclick="ListSort('@Url.Action("Sort","Expenses",new { sortOrder = (ViewBag.DateSortParm == null ? "Date" : ViewBag.DateSortParm)},Context.Request.Scheme)','Sort')">Date</a>
                        </th>
                        <th class="button_column">
                            <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = 0},Context.Request.Scheme)','New expense')" class="btn btn-success btn-sm">New expense</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Expenses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td class="descriptionTd">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="date_column">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td class="button_column">
                                <a onclick="showInPopup('@Url.Action("CreateOrEdit","Expenses",new { id = item.Id},Context.Request.Scheme)','Update expense')" class="btn btn-primary btn-sm">Edit</a>
                                @*<form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDeleteSort(this)" class="d-inline">
                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                    </form>*@
                                <a class="btn btn-danger btn-sm" onclick="jQueryAjaxDeleteSort('@Url.Action("Delete","Expenses",new { sortOrder = (ViewBag.CategorySortParm == null ? "Date" : ViewBag.CategorySortParm), id = item.Id},Context.Request.Scheme)')">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="sortMenu" class="sortMenu">
            <form id="sortMenuForm" asp-action="Sort" onsubmit="return PostSort(this);" autocomplete="off">
                <p class="sort-header sticky-top">
                    <a class="refresh-button" onclick="JqueryAjaxSort('@Url.Action("Sort", "Expenses", new { sortOrder = "default", refresh = true}, Context.Request.Scheme)','Sort', true)">
                        <i class="fas fa-sync-alt"></i>
                    </a>
                    <span>Sort options</span>
                    <input type="submit" value="Search" class="btn btn-outline-info btn-sm btn-sort" />
                </p>
                <div class="sort-paragraph description-section">
                    <label id="descriptionLabel">Description<input id="descriptionField" type="text" placeholder="search" asp-for="SortMenu.DescriptionSearch" /></label>
                </div>
                <div class="sort-paragraph price-section">
                    <input id="priceFromField" asp-for="SortMenu.PriceFrom" type="number" placeholder="from" /><input type="number" class="currency" placeholder="$" disabled />
                    <span class="priceLink"></span>
                    <input id="priceToField" asp-for="SortMenu.PriceTo" type="number" placeholder="to" /><input type="number" class="currency" placeholder="$" disabled />
                </div>
                <div class="sort-paragraph categories-section">
                    <h1 class="section-name">Categories</h1>
                    <ul id="categoryList">
                        @for (int i = 0; i < Model.CategoriesList.Count(); i++)
                        {
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">@Html.CheckBoxFor(c => c.SortMenu.ChosenCategories[i], new { @class = "form-check-input", @type = "checkbox" }) @Model.CategoriesList[i].Name</label>
                                </div>
                            </li>
                        }
                    </ul>
                    @if (Model.CategoriesList.Count() > 7)
                    {
                        <span id="showMore" onclick="showMore()">Show More</span><i onclick="showMore()" id="showArrow" class="fas fa-chevron-down"></i>
                    }
                    else
                    { <span id="showMore"></span>}
                </div>
                <div class="sort-paragraph date-section">
                    <div class="date-header"><h1 class="section-name">Date</h1></div>
                    <div class="date-input-div">
                        <input type="datetime-local" id="date-from" asp-for="SortMenu.DateFrom" placeholder="DD/MM/YYYY HH:DD" />
                        <input type="datetime-local" asp-for="SortMenu.DateTo" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>


<script>
    $(document).ready(function () {
        if (sessionStorage.getItem('showButton') != null) {
            document.getElementById('showMore').textContent = sessionStorage.getItem('showButton');
            showMore();
        }
        else {
            document.getElementById('showMore').textContent = "Show More";
            sessionStorage.setItem('showButton', 'Show More');
        }
    });
    function showMore() {
        var x = $('#showMore').text();
        var listLen = document.getElementById('categoryList').getElementsByTagName("li").length;
        if (x == 'Show More') {
            $('#categoryList li:hidden').slice(0, listLen).show();
            if ($('#categoryList li').length == $('#categoryList li:visible').length) {
                $('#showMore').innerHtml == 'Show Less';
                document.getElementById('showMore').innerHTML = 'Show Less';
                document.getElementById('showArrow').classList.remove('fa-chevron-down');
                document.getElementById('showArrow').classList.add('fa-chevron-up');
                sessionStorage.setItem('showButton', 'Show More');
            }
        }
        else if (x == 'Show Less') {
            $('#categoryList li').slice(7, listLen).hide();
            $('#showMore').innerHtml == 'Show More';
            document.getElementById('showMore').innerHTML = 'Show More';
            document.getElementById('showArrow').classList.add('fa-chevron-down');
            document.getElementById('showArrow').classList.remove('fa-chevron-up');
            sessionStorage.setItem('showButton', 'Show Less');
        }
    };
    ListSort = (url, title, refresh) => {
        var form = document.getElementById('sortMenuForm');
        try {
            $.ajax({
                type: 'POST',
                url: url,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#view-all').html(res.html);
                },
                error: function (err) {
                    console.log(err)
                }
            })
            return false;
        } catch (ex) {
            console.log(ex)
        }
    };
    PostSort = form => {
        try {
            $.ajax({
                type: 'POST',
                url: form.action,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#view-all').html(res.html);
                },
                error: function (err) {
                    console.log(err)
                }
            })
            //to prevent default form submit event
            return false;
        } catch (ex) {
            console.log(ex)
        }
    }
    jQueryAjaxDeleteSort = (url) => {
        if (confirm('Are you sure to delete this record ?')) {
            var sortForm = document.getElementById('sortMenuForm');
            try {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: new FormData(sortForm),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        $('#view-all').html(res.html);
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } catch (ex) {
                console.log(ex)
            }
        }
        //prevent default form submit event
        return false;
    }
    $(document).ready(function () {
        sessionStorage.setItem("sortMenuActive", "false");
    });
    function sortCollapseFunction() {
        var sortParagraphs = document.getElementsByClassName("sort-paragraph");
        var currencyIcons = document.getElementsByClassName("currency");
        document.getElementById("sortCollapseButton").style.transform = "rotate(180deg) translateY(1.5rem)";
        document.getElementById("sortCollapseButton").style.zIndex = "6";
        var sortMenuClass = document.getElementsByClassName("sortMenu")[0];
        var sortMenu = document.getElementById("sortMenu");
        if (sessionStorage.getItem("sortMenuActive") == "false") {

            sortMenuClass.classList.remove("sortMenu");
            sortMenu.style.flex = "1";
            document.getElementById("listCol").setAttribute("hidden", true);

            Array.prototype.forEach.call(sortParagraphs, function (item) {
                item.style.fontSize = "clamp(2rem, 2.5rem, 3rem)";
            });
            document.getElementsByClassName("section-name")[0].style.fontSize = "clamp(2rem, 2.5rem, 3rem)";
            document.getElementsByClassName("section-name")[1].style.fontSize = "clamp(2rem, 2.5rem, 3rem)";
            currencyIcons[0].style.width = "2.50rem";
            currencyIcons[0].style.height = document.getElementById("priceFromField").offsetHeight + "px";
            currencyIcons[1].style.width = "2.50rem";
            currencyIcons[1].style.height = document.getElementById("priceFromField").offsetHeight + "px";
            document.querySelectorAll('input[type="number"]')[0].style.maxWidth = "100px";
            sortMenu.style.height = "100%";
            sortMenu.style.overflowY = "auto";

            sessionStorage.setItem("sortMenuActive", "true");
        }
        else {
            sortMenu.classList.add("sortMenu");
            sortMenu.style.flex = "0";
            document.getElementById("listCol").removeAttribute("hidden");
            document.getElementById("sortCollapseButton").style.transform = "rotate(0) translateY(0)"

            Array.prototype.forEach.call(sortParagraphs, function (item) {
                item.style.fontSize = "1rem";
            });
            document.getElementsByClassName("section-name")[0].style.fontSize = "1rem";
            document.getElementsByClassName("section-name")[1].style.fontSize = "1rem";
            currencyIcons[0].style.width = "1.25rem";
            currencyIcons[0].style.height = "1.75rem";
            currencyIcons[1].style.width = "1.25rem";
            currencyIcons[1].style.height = "1.75rem";
            document.querySelectorAll('input[type="number"]')[0].style.maxWidth = "80px";
            sortMenu.style.height = "calc(100%-1rem)";
            sortMenu.style.overflowY = "auto";

            sessionStorage.setItem("sortMenuActive", "false");
        }
    };
</script>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
}