@model CreateOrEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<style>
    span {
        color: white;
        font-size: 15px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEdit" asp-route-id="@Model.Expense.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Expense.Id" />
            <div class="form-group">
                <label asp-for="Expense.Amount" class="control-label"></label>
                <input id="amountinput" asp-for="Expense.Amount" class="form-control" />
                <span asp-validation-for="Expense.Amount"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Expense.Category" class="control-label"></label>
                        @*<select asp-for="Category" style="height:38px;" asp-items="@(new SelectList(ViewBag.CategoryList,"Name","Name"))"></select>*@
                        @*<select asp-for="Expense.Category" style="height:38px;" asp-items="@Html.GetEnumSelectList<Ctg>()"></select>*@
                        <select asp-for="Expense.Category" style="height:38px;" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                        <span asp-validation-for="Expense.Category"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Expense.Date" class="control-label"></label>
                        <input id="dateinput" asp-for="Expense.Date" style="height:38px;" class="form-control" />
                        <span asp-validation-for="Expense.Date"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Expense.Description" class="control-label"></label>
                <input asp-for="Expense.Description" class="form-control" />
                <span asp-validation-for="Expense.Description"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>


@if (Model.Expense.Id == 0)
{
    <script>
    // Date format: 17.07.2021 10:50:20
    @*$("#dateinput").val(@DateTime.Now.ToString("dd/MM/yyyy HH:mm");*@
    $("#amountinput").val("");
    </script>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}